

<div class="footer-container container-fluid">
    <div class="row">
        <div class="text-center col-sm-4">
          <ul class="list-unstyled">
              <li><a href="/admin">WebDevJosh</a></li>
              <li><a href="/admin">WebDevJosh</a></li>
              <li><a href="/admin">WebDevJosh</a></li>
          </ul>
        </div>
        <div class="text-center col-sm-4">
          <ul class="list-unstyled">
              <li><a href="/admin">WebDevJosh</a></li>
              <li><a href="/admin">WebDevJosh</a></li>
              <li><a href="/admin">WebDevJosh</a></li>
          </ul>
        </div>
        <div class="text-center col-sm-4">
          <ul class="list-unstyled">
              <li><a href="/admin">WebDevJosh</a></li>
              <li><a href="/admin">WebDevJosh</a></li>
              <li><a href="/admin">WebDevJosh</a></li>
          </ul>
        </div>
    </div>
    <hr class="white-hr"></hr>
</div>
</body>
</html>