<!DOCTYPE html>
<html>
<head>
    <title>Face Paint Site</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://use.fontawesome.com/abdab53de4.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
</head>

<body>
        
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--^^^Hamburger^^^-->
      
      <a class="navbar-brand" href="/contact"><i class="fa fa-paint-brush" aria-hidden="true"></i> Ethel's Faces</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="navContact" href="/contact">Book</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
        <li><a id="logo" href="#"><i class="fa fa-superpowers" aria-hidden="true"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>