<% include ../partials/bookingHeader %>
<div id="booking-container" class="container-fluid">
  <div class="booking-header-container container-fluid">
    <h1 class="header">Booking made simple</h1>
  </div>
  <div class="container">
    <hr class="black-hr"></hr>
  </div>
  <div class="price-row row">
    <div class="container col-md-1"></div>
    <div class="container col-md-4">
      <h1>First Step</h1>
      <h3>Pricing</h3>
      <p>1st Hr: $150</p>
      <p>2nd Hr: $75</p>
      <p>avg 6 faces an hr</p>
      <p>It's that easy!</p>
    </div>
    <div class="container col-md-1"></div>
    <div class="container col-md-4">
      <div class="row">
        <div id="form-pic"></div>
      </div>
      <div class="row ref-row">
        <p class="test">Facere, vitae, animi, mollitia, pariatur hic expedita numquam aliquam blanditiis molestiae quae nemo?</p>
        <p><strong>- joe shmoe</strong></p>
      </div>
    </div>
    <div class="container col-md-2"></div>
  </div>
  <div class="container">
    <hr class="black-hr"></hr>
  </div>
  <div class="form-row row">
    <div class="container col-md-1"></div>
    <div class="container col-md-5">
      <form action="/booking" method="POST">
      <div class="form-booking">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" class="form-control" name="firstName" placeholder="first name">
      </div> <!--First Name-->
      <div class="form-booking">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" class="form-control" name="lastName" placeholder="last name">
      </div> <!--Last Name-->
      <div class="form-booking">
        <label for="phoneNumber">Phone</label>
        <input id="phoneNumber" class="form-control" type="tel" min="10" max="10" name="phoneNumber" placeholder="(xxx)-xxx-xxxx">
      </div> <!--Phone-->
      <div class="form-booking">
        <label for="zipcode">Zip code</label>
        <input id="zipcode" class="form-control" type="text" name="zipcode" pattern="[0-9]{5}" title="Five digit zip code" placeholder="zipcode">
      </div> <!--Zip-->
      <div class="form-booking">
        <label for="emailAddress">Email address</label>
        <input id="emailAddress" type="email" class="form-control" name="emailAddress" placeholder="Email">
      </div> <!--Email-->
      <div class="form-booking">
        <label for="emailConfirm">Confirm Email</label>
        <input id="emailConfirm" type="email" class="form-control" name="emailConfirm" placeholder="Email">
      </div> <!--Confirm-Email-->
      <div>
        <button id="" type="submit" class="form-control">Submit</button>
      </div>
    </form>
    </div>
    <div class="container col-md-1"></div>
    <div class="container col-md-4">
      <p>something</p>
    </div>
    <div class="container col-md-1"></div>
  </div>
<% include ../partials/footer %>