<!DOCTYPE html>
<html>

<head>
    <title>Face Paint Site</title>
    <script src="https://use.fontawesome.com/abdab53de4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="index.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One|Righteous|Courgette|Comfortaa|Paytone+One" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <a id="navbar-logo" class="navbar-brand" href="#faces"> Ethel's Faces <i class="fa fa-paint-brush" aria-hidden="true"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-link" href="#about">
                        <i class="fa fa-address-card" aria-hidden="true"></i> About
                    </a>
                </li>
                <li>
                    <a class="navbar-link" href="#price">
                        <i class="fa fa-money" aria-hidden="true"></i> Pricing
                    </a>
                </li>
                <li>
                    <a class="navbar-link" href="#contact">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container exit-container">
        <h2>Thank You!</h2>
        <p>You'll receive an email from Ethel herself shotly</p>
    </div>


    <div class="footer-container container-fluid">
        <div class="text-center">
            <ul class="list-unstyled">
                <li>Stay connected on social media</li>
                <li>
                    <div>
                        <a href="https://www.facebook.com/ethelsfaces/" class="bottom-links"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                        <a href="" class="bottom-links"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/ethelsfaces/" class="bottom-links"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="foot-info"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, MD. </li>
                <li class="foot-info"><i class="fa fa-calendar" aria-hidden="true"></i> Fri. Sat. Sun.</li>
                <li class="da-plug">Powered by: <a href="/admin">WebDevJosh</a></li>
            </ul>
        </div>
    </div>
</body>

</html>