<% include ../partials/header %>

<div class="container">
  
      <div class="jumbotron">
        <h1>Ethel's Faces</h1>
        <hr class="dividers">
        <p>Professional Face Painter</p>
        <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Learn more</a></p>
      </div>

</div>
<!--^^^^^Jumbotron^^^^Container^^^^^-->
<div class="link-container container">
        <div class="links">
          <a href="https://www.facebook.com/ethelsfaces/" id="fbButton">
            <i class="linkImage fa fa-facebook-official fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="links">
          <a id="twButton">
            <i class="linkImage fa fa-twitter-square fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="links">
          <a id="igButton">
            <i class="linkImage fa fa-instagram fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="links">
          <a id="ggButton">
            <i class="linkImage fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </div>
    </div>
<!--####Start Second Row####-->
<div class="container">
  <div class="row">
    <div class="p1 col-md-4 container">
      <h2>Make your next party Amazing!</h2>
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
    </div>
    <div class="col-md-8">
        <div class='slider'>
          <div class='slide1'></div>
          <div class='slide2'></div>
          <div class='slide3'></div>
      </div>
    </div>
  </div>
</div>
<!--^^^^^slide show and left side content^^^^^-->

<!--#####Bottom row#######-->
<div class="container">
  <div class="row">
    <div class="leftMenu container col-md-4">
      <ul>
        <li id="leftMenuLogo">Ethel's Faces</li>
        <li class="leftMenuButtons"><a href="">connect</a></li>
        <li class="leftMenuButtons"><a href="/about">more info</a></li>
        <li class="leftMenuButtons"><a href="/contact">artist bio</a></li>
        <li class="leftMenuButtons"><a href="/contact">book now</a></li>
        <li class="leftMenuButtons leftMenuLogos">
          <a>
            <i class="linkImage fa fa-facebook-official fa-lg" aria-hidden="true"></i>
          </a>
          <a>
            <i class="linkImage fa fa-twitter-square fa-lg" aria-hidden="true"></i>
          </a>
          <a>
            <i class="linkImage fa fa-instagram fa-lg" aria-hidden="true"></i>
          </a>
          <a>
            <i class="linkImage fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="fb-comments" data-href="https://gitfacepaint-joshmurph316.c9users.io/home" data-width="650" data-numposts="5"></div>
    </div>
  </div>
</div>


<% include ../partials/footer %> 