<% include ../partials/header %>

<div class = "container">
  <div class="jumbotron">
    <h1>Ethel's Face</h1>
    <hr class="dividers">
    <p>Professional Face Painter <i class="fa fa-paint-brush" aria-hidden="true"></i></p>
    <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Learn more</a></p>
  </div>
</div>
<!--^^^^^^^^Jumbotron^^^^^^^Container^^^^^-->

<div class "container">
  <div class="row">
    <div class="col-md-2">
      <p> 
        simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum  when a
      </p>
    </div>
    <div  class="container col-md-8">
      <div class="row">
        <div class="p1 col-md-4 container">
          <p>What is Lorem Ipsum?
          Lorem Ipsum is simply dummy text of.Lorem Ipsum is simply dummy text of.
          </p>
        </div>
        <div class="col-md-8">
          <div class="thumbnail">
            <img class="img-responsive" src="https://mail.google.com/mail/u/0/?ui=2&ik=90522dcac2&view=fimg&th=15b5522cb2e14ab1&attid=0.3&disp=emb&realattid=ii_j1bchqf31_15b55227fa02505c&attbid=ANGjdJ-rDzpl_arleRWvlUuJFtYWYPKLXLB-031xntzqxfHBml0N2gP1zypmBBKC5yX9yxZenQ-yc2ao-VQJMhQods1HYdfYEWd3cV1zvkJrrs3zprCqybF73DQ0jzM&sz=w944-h630&ats=1492075077568&rm=15b5522cb2e14ab1&zw&atsh=1"></img>
          </div>
          <p>Image description</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <div><a><i class="fa fa-facebook-official" aria-hidden="true"></i> Ethelsfaces@xcv.com</a></div>
        <div><a><i class="fa fa-twitter-square" aria-hidden="true"></i> Ethelsfaces@xcv.com</a></div>
        <div><a><i class="fa fa-instagram" aria-hidden="true"></i> Ethelsfaces@xcv.com</a></div>
    </div>
  </div>
</div>
<!--^^^^^^First^^^^Row^^^^^^^-->

<div class="container col-md-10">
  <div class="thumbnail">
    <img class="img-responsive" src="https://mail.google.com/mail/u/0/?ui=2&ik=90522dcac2&view=fimg&th=15b5522cb2e14ab1&attid=0.3&disp=emb&realattid=ii_j1bchqf31_15b55227fa02505c&attbid=ANGjdJ-rDzpl_arleRWvlUuJFtYWYPKLXLB-031xntzqxfHBml0N2gP1zypmBBKC5yX9yxZenQ-yc2ao-VQJMhQods1HYdfYEWd3cV1zvkJrrs3zprCqybF73DQ0jzM&sz=w944-h630&ats=1492075077568&rm=15b5522cb2e14ab1&zw&atsh=1"></img>
  </div>
    <p>Image description</p>
</div>
<!--^^^^^^Big^^^^^Pic^^^^^^-->

<div class="row">
  <div class="col-md-4 p2 container">
    <p>
      It was popularised in the 1960s with the release of Letraset sheets containing 
      Lorem Ipsum passages
    </p>    
  </div>
</div>


<% include ../partials/footer %> 