<% include ../partials/header %>

<div class = "container">
  <div class="jumbotron">
    <h1>Ethel's Faces</h1>
    <hr class="dividers">
    <p>Professional Face Painter</p>
    <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Learn more</a></p>
  </div>
</div>
<!--^^^^^^^^Jumbotron^^^^^^^Container^^^^^-->

<div class "container">
  <div class="row">
    <div class="col-md-2">
      <ul>
        <li><button>click</button></li>
        <li><button>click</button></li>
        <li><button>click</button></li>
      </ul>
    </div>
    <div  class="container col-md-8">
      <div class="row">
        <div class="p1 col-md-4 container">
          <p>Make your next party Amazing!</p>
        </div>
        <div class="col-md-8">
            <div class='slider'>
              <div class='slide1'></div>
              <div class='slide2'></div>
              <div class='slide3'></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <div><a><i class="fa fa-facebook-official" aria-hidden="true"></i> Ethelsfaces@xcv.com</a></div>
        <div><a><i class="fa fa-twitter-square" aria-hidden="true"></i> Ethelsfaces@xcv.com</a></div>
        <div><a><i class="fa fa-instagram" aria-hidden="true"></i> Ethelsfaces@xcv.com</a></div>
    </div>
  </div>
</div>
<!--^^^^^^First^^^^Row^^^^^^^-->

<div class="row">
  <div class="col-md-4 p2 container">
    <p>
      It was popularised in the 1960s with the release of Letraset sheets containing 
      Lorem Ipsum passages
    </p>    
  </div>
</div>


<% include ../partials/footer %> 