<!DOCTYPE html>
<html>
<head>
    <title>Face Paint Site</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
</head>

    <body>
        
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/contact">Contact Me</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "container">
    <div class="jumbotron">
      <h1>Home Page</h1>
      <hr class="dividers">
      <p>Make your party great</p>
      <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Learn more</a></p>
    </div>
</div>
<div  class="container">
  <div class="row">
    <div class="p1 col-sm-6 container">
      <p>What is Lorem Ipsum?
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard 
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
      </p>
    </div>  
  </div>
    <div class"row">
      <hr class="dividers">
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="img1 col-sm-8">
      <div class="thumbnail">
        <img class="img-responsive" src="https://mail.google.com/mail/u/0/?ui=2&ik=90522dcac2&view=fimg&th=15b5522cb2e14ab1&attid=0.3&disp=emb&realattid=ii_j1bchqf31_15b55227fa02505c&attbid=ANGjdJ-rDzpl_arleRWvlUuJFtYWYPKLXLB-031xntzqxfHBml0N2gP1zypmBBKC5yX9yxZenQ-yc2ao-VQJMhQods1HYdfYEWd3cV1zvkJrrs3zprCqybF73DQ0jzM&sz=w944-h630&ats=1492075077568&rm=15b5522cb2e14ab1&zw&atsh=1"></img>
      </div>
      <p>Image description</p>
    </div>
    <div class="col-sm-4 p2 container">
      <p>
        It was popularised in the 1960s with the release of Letraset sheets containing 
        Lorem Ipsum passages
      </p>    
    </div>
  </div>
</div>



</body>
</html>