<!DOCTYPE html>
<html>
<head>
    <title>Face Paint Site</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="styles.css"></link>
</head>

    <body>
        
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/contact">Contact Me</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "container">
    <div class="jumbotron">
      <h1>Home Page</h1>
      <p>info/hook</p>
      <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Learn more</a></p>
    </div>
</div>
<div  class="container">
  <div class="row">
    <div class="p1" class="col-md-6" class="container">
      <p>What is Lorem Ipsum?
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
      It was popularised in the 1960s</p>
    </div>  
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="p1" class="container">
        <p>
          It was popularised in the 1960s with the release of Letraset sheets containing 
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker 
          including versions of Lorem Ipsum
        </p>    
      </div>
    </div>
    <div class="imgx" class="col-md-6">
      image going here
    </div>
  </div>
</div>



</body>
</html>