<!DOCTYPE html>
<html>
<head>
    <title>Face Paint Site</title>
    <script src="https://use.fontawesome.com/abdab53de4.js"></script>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="landing.css"></link>
    <link rel="stylesheet" type="text/css" href="global.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Gloria+Hallelujah|Comfortaa" rel="stylesheet"></head>
</head>
<body>
  
<nav id="nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"> Ethel's Faces <i class="fa fa-paint-brush" aria-hidden="true"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--^^^^^^^^^^^^^^Navbar^^^^^^^^^^-->

  <div class="hero-image">
    <div class="hero-text">
      <h1>I'm Ethel Arjona</h1>
      <hr></hr>
      <p>And I'm a Face Painter</p>
      <a href="/home" class="btn btn-success btn-lg">Hire Me</a>
    </div>
  </div>  
<!--^^^^^^^^^^^^Landing Image and Title^^^^^^^^^^^-->

<div class="container">
  
      <div class="jumbotron">
        <h1>Ethel's Faces</h1>
        <hr class="dividers">
        <p>Professional Face Painter</p>
        <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Learn more</a></p>
      </div>

</div>
<!--^^^^^Jumbotron^^^^Container^^^^^-->
<!--####Start Second Row####-->
<div class "container">
  <div class="row">
    <div class="col-md-2">
      <ul>
        <li><a>click</a></li>
        <li><a>click</a></li>
        <li><a>click</a></li>
      </ul>
    </div>
<!--^^^^left side buttons^^^^-->

    <div  class="container col-md-9">
      <div class="row">
        <div class="p1 col-md-4 container">
          <p>Make your next party Amazing!</p>
        </div>
        <div class="col-md-8">
            <div class='slider'>
              <div class='slide1'></div>
              <div class='slide2'></div>
              <div class='slide3'></div>
          </div>
        </div>
      </div>
    </div>
<!--^^^^^slide show and left side content^^^^^-->
<!--###Right Side Plug Buttons###-->
    <div id="plugHouse"class="col-md-1">
        <div class="plugs">
          <a href="https://www.facebook.com/ethelsfaces/" id="fbButton" class="button">
            <i class="plugImage fa fa-facebook-official fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="plugs">
          <a id="twButton" class="button">
            <i class="plugImage fa fa-twitter-square fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="plugs">
          <a id="igButton" class="button">
            <i class="plugImage fa fa-instagram fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="plugs">
          <a id="ggButton" class="button">
            <i class="plugImage fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </div>
    </div>
<!--^^^^Right side buttons^^^^-->
  </div>
</div>  <!--end second row-->
<div class="row">
    <div class="col-md-2">
      <a class="addSpace">ad space click</a>
    </div>
    <div class="col-md-10">
      
    </div>
</div>


<% include ../partials/footer %>