<!DOCTYPE html>
<html>

<head>
    <title>Face Painting</title>
    <script src="https://use.fontawesome.com/abdab53de4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="index.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One|Righteous|Courgette|Comfortaa|Paytone+One" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <a id="navbar-logo" class="navbar-brand" href="#faces"> Ethel's Faces <i class="fa fa-paint-brush" aria-hidden="true"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-link" href="#about">
                        <i class="fa fa-address-card" aria-hidden="true"></i> About
                    </a>
                </li>
                <li>
                    <a class="navbar-link" href="#price">
                        <i class="fa fa-money" aria-hidden="true"></i> Pricing
                    </a>
                </li>
                <li>
                    <a class="navbar-link" href="#contact">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end navbar  -->
    <!--###^Navbar^###-->
    <a name="top"></a>
    <div class="hero-image">
        <div class="hero-text container-fluid">
            <h1 id="hero-name">I'm Ethel Arjona.</h1>
            <p class="hero-subtext">And I'm a Face Painter</p>
            <div class="hero-btn-div">
                <a href="#faces" class="hero-btn">Learn more</a>
            </div>
            <div class="hero-sox-container">
                <a href=""><i class="hero-sox fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                <a href=""><i class="hero-sox fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
                <a href=""><i class="hero-sox fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- end landing content  -->
    <div class="container-fluid">
        <div class="info-row main-row row">
            <a name="faces"></a>
            <div class="header-container container-fluid">
                <h1 class="header">Welcome to Ethel's Faces <i class="fa fa-paint-brush" aria-hidden="true"></i></h1>
                <h3 class="snowflake">face painting made easy</h3>
            </div>
            <!-- welcome header  -->
            <div class="info-container container col-md-3">
                <div class="handshake">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <p class="bg-txt">one on one</p>
                </div>
                <p class="sm-txt">With Ethel’s Faces, you are guaranteed to receive one on one service.</p>
                <p class="sm-txt">Allowing the best possible experience and complete clarity throughout.</p>
            </div>
            <div class="info-container container col-md-3">
                <div class="snowflake">
                    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                    <p class="bg-txt">unique designs</p>
                </div>
                <p class="sm-txt">Each face is unique, and that’s why Ethel never uses cookie cutter methods like most other painters.</p>
                <p class="sm-txt">So each design is hand painted for the best possible outcomes.</p>
            </div>
            <div class="info-container container col-md-3">
                <div class="heart">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <p class="bg-txt">passion</p>
                </div>
                <p class="sm-txt">Passion for what you do is everything.</p>
                <p class="sm-txt">And Ethel has so much love for what she does she does it completely in her personal time.</p>
            </div>
            <div class="info-container container col-md-3">
                <div class="tachometer">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <p class="bg-txt">fast and easy</p>
                </div>
                <p class="sm-txt">This site is designed to make booking a face painter for your party fast and easy.</p>
                <p class="sm-txt">Simply contact Ethel directly and start the process. It's that easy!</p>
            </div>
        </div>
        <div class="slider-row main-row row">
            <div class="col-md-6">
                <div class="slider-txt-container">
                    <p class="bg-txt">Planning a party?</p>
                    <p class="sm-txt-lite">Let<span class="emph"> Ethel's Faces </span>make your next event <strong>Amazing!</strong></p>
                    <a class="slider-btn" href="#gallery"><i class="fa fa-picture-o" aria-hidden="true"></i> view more faces</a>
                </div>
            </div>
            <div class="slider-container col-md-5">
                <div class='slider'>
                    <div class='slide1'></div>
                    <div class='slide2'></div>
                    <div class='slide3'></div>
                </div>
            </div>
            <!--slide show-->
            <div class="col-md-1"></div>
        </div>
        <div class="tracker-row main-row row">
            <div class="col-sm-3">
                <h1>243+</h1>
                <p>happy faces</p>
            </div>
            <div class="col-sm-3">
                <h1>59+</h1>
                <p>super heros</p>
            </div>
            <div class="col-sm-3">
                <h1>26+</h1>
                <p>events made special</p>
            </div>
            <div class="col-sm-3">
                <h1>106+</h1>
                <p>princesses</p>
            </div>
        </div>
        <div class="about-row main-row row">
            <a name="about"></a>
            <div class="header-container container-fluid">
                <h1 class="header">Meet Ethel</h1>
                <h3 class="snowflake">professional face painter</h3>
            </div>
            <!-- meet ethel header  -->
            <div class="about-container container-fluid">
                <div class="col-md-3">
                    <img class="about-img" src="/images/me.jpg" class="img-responsive" alt="Responsive image"></img>
                </div>
                <div class="about-txt-container col-md-3">
                    <p class="heart">It's personal <i class="fa fa-address-card" aria-hidden="true"></i></p>
                    <p class="sm-txt-lite">Like most small businesses; Ethel is the CEO, manager, and customer service rep for Ethel's Faces. So needless to say, <span class="emph">it's personal.</span></p>
                    <p class="sm-txt-lite">For you, that means you'll get the best of the best all around because Ethel is 100% invested.</p>
                </div>
                <div class="about-txt-container col-md-3">
                    <p class="handshake">Always fair <i class="fa fa-usd" aria-hidden="true"></i></p>
                    <p class="sm-txt-lite">Ethel strives to keep costs low and
                        <span class="emph">fair.</span> So you can make your party special without breaking the bank.</p>
                    <p class="sm-txt-lite">As a mother of 3, Ethel knows the struggles and price tag that comes with planning a party</p>
                </div>
                <div class="about-btn-container col-md-3">
                    <a class="about-btn" href="#contact"><i class="fa fa-paper-plane" aria-hidden="true"></i> Contact Ethel</a>
                </div>
            </div>
        </div>
        <div class="pricing-row main-row row">
            <a name="price"></a>
            <div class="header-container container-fluid">
                <h1 class="header">Pricing</h1>
                <h3 class="snowflake">simple and easy paying options</h3>
            </div>
            <!--pricing header  -->
            <div class="pricing-container container-fluid">
                <div class="pricing-list-container col-sm-4">
                    <ul class="pricing-ul">
                        <li class="handshake pricing-list pricing-option">Option:1</li>
                        <li class="pricing-list">1 Hour</li>
                        <li class="pricing-list">$125</li>
                    </ul>
                </div>
                <div class="pricing-list-container col-sm-4">
                    <ul class="pricing-ul">
                        <li class="heart pricing-list pricing-option">Option:2</li>
                        <li class="pricing-list">2 Hours</li>
                        <li class="pricing-list">$210</li>
                        <li class="pricing-list sm-txt-lite">*avg 6 faces per hr</li>
                    </ul>
                </div>
                <div class="pricing-list-container col-sm-4">
                    <ul class="pricing-ul">
                        <li class="tachometer pricing-list pricing-option">Option:3</li>
                        <li class="pricing-list">Custom</li>
                        <li class="pricing-list">
                            <a href="#contact"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Contact Directly</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gallery-row main-row row">
            <a name="gallery"></a>
            <div class="header-container container-fluid">
                <h1 class="header">Face Gallery</h1>
                <h3 class="snowflake">a few happy faces</h3>
            </div>
            <!--gallery header  -->
            <div class="container">

                <div class="thumbnail-row">
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/cold.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/full-finish.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/fox-girl.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/close-work.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                </div>
                <!--thumbnail row 1-->
                <div class="thumbnail-row">
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/fox-boy.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/teepee.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/cold3.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                    <div class="col-xs-3 thumbnail">
                        <img src="/images/cold2.jpg" class="img-responsive gallery-img" alt="Responsive image"></img>
                    </div>
                </div>
            </div>
            <!--thumbnail row 2-->
        </div>
        <div class="contact-row main-row row">
            <a name="contact"></a>
            <div class="header-container container-fluid">
                <h1 class="header">Contact</h1>
                <h3 class="snowflake">speak with Ethel directly about your event</h3>
            </div>
            <div class="contact-container container-fluid">
                <div class="contact-info col-md-4">
                    <p class="xl-txt-lite">Easy Booking</p>
                    <p class="md-txt">there's only <strong class="tachometer">1</strong> step.</p>
                </div>
                <div class="contact-info col-md-4">
                    <p class="xl-txt">It's like Magic <i class="fa fa-magic" aria-hidden="true"></i></p>
                    <p class="md-txt">enter your info and start working with Ethel immediately</p>
                    <p class="sm-txt-lite">you will never receive spam from Ethel's Faces.</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <form class="contact-form" action="/exit" method="POST">
                        <div class="form-booking">
                            <label class="form-label" for="name">Name</label>
                            <input type="text" id="name" class="form-control" name="name" placeholder="name" required>
                        </div>
                        <!-- Name-->
                        <div class="form-booking">
                            <label class="form-label" for="email">Email</label>
                            <input id="email" type="email" class="form-control" name="email" placeholder="email" required>
                        </div>
                        <!--Email-->
                        <div>
                            <button class="form-btn form-control" type="submit">Book <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container container-fluid">
        <div class="text-center">
            <ul class="list-unstyled">
                <li><a href="#top">Top <i class="fa fa-arrow-up" aria-hidden="true"></i></a></li>
                <li>
                    <div>
                        <a href="https://www.facebook.com/ethelsfaces/" class="bottom-links"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                        <a href="" class="bottom-links"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/ethelsfaces/" class="bottom-links"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="foot-info"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, MD. </li>
                <li class="foot-info"><i class="fa fa-calendar" aria-hidden="true"></i> Fri. Sat. Sun.</li>
                <li class="da-plug">Powered by: <a href="/admin">WebDevJosh</a></li>
            </ul>
        </div>
    </div>
    <script src="js.js"></script>
</body>

</html>