<!DOCTYPE html>
<html>
<head>
    <title>Face Painting</title>
    <script src="https://use.fontawesome.com/abdab53de4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="index.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One|Righteous|Courgette|Comfortaa|Paytone+One" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div>
      <a id="navbar-logo" class="navbar-brand" href="#faces"> Ethel's Faces <i class="fa fa-paint-brush" aria-hidden="true"></i></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="navbar-link" href="#about">
          <i class="fa fa-address-card" aria-hidden="true"></i> About
        </a>
      </li>
      <li>
        <a class="navbar-link" href="#price">
          <i class="fa fa-money" aria-hidden="true"></i> Pricing
        </a>
      </li>
      <li>
        <a class="navbar-link" href="#contact">
          <i class="fa fa-envelope" aria-hidden="true"></i> Contact
        </a>
      </li>
    </ul>
  </div>
</nav> <!-- end navbar  -->
<!--###^Navbar^###-->
<a name="top"></a>
<div class="hero-image">
  <div class="hero-text container-fluid">
    <h1 id="hero-name">I'm Ethel Arjona.</h1>
    <p class="hero-subtext">And I'm a Face Painter</p>
    <div class="hero-btn-div">
      <a href="#faces" class="hero-btn">Learn more</a>
    </div>
    <div class="hero-sox-container">
      <a href=""><i class="hero-sox fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
      <a href=""><i class="hero-sox fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
      <a href=""><i class="hero-sox fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>
</div> <!-- end landing content  -->
<div class="container-fluid">
  <div class="info-row main-row row">
    <a name="faces"></a>
    <div class="header-container container-fluid">
      <h1 class="header">Welcome to Ethel's Faces <i class="fa fa-paint-brush" aria-hidden="true"></i></h1>
      <h3 class="snowflake">face painting made easy</h3>
    </div> <!-- welcome header  -->
    <div class="info-container container col-md-3">
      <div class="handshake">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <p class="bg-txt">one on one</p>
      </div>
      <p class="sm-txt">With Ethel’s Faces, you are guaranteed to receive one on one service.</p>
      <p class="sm-txt">Allowing the best possible experience and complete clarity throughout.</p>
    </div>
    <div class="info-container container col-md-3">
      <div class="snowflake">
        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
        <p class="bg-txt">unique designs</p>
      </div>
      <p class="sm-txt">Each face is unique, and that’s why Ethel never uses cookie cutter methods like most other painters.</p>
      <p class="sm-txt">So each design is hand painted for the best possible outcomes.</p>
    </div>
    <div class="info-container container col-md-3">
      <div class="heart">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <p class="bg-txt">passion</p>
      </div>
      <p class="sm-txt">Passion for what you do is everything.</p>
      <p class="sm-txt">And Ethel has so much love for what she does she does it completely in her personal time.</p>
    </div>
    <div class="info-container container col-md-3">
      <div class="tachometer">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <p class="bg-txt">fast and easy</p>
      </div>
      <p class="sm-txt">This site is designed to make booking a face painter for your party fast and easy.</p>
      <p class="sm-txt">Simply contact Ethel directly and start the process. It's that easy!</p>
    </div>
  </div>
  <div class="slider-row main-row row">
    <div class="col-md-6">
      <div class="slider-txt-container">
        <p class="bg-txt">Planning a party?</p>
        <p class="sm-txt-lite">Let<span class="emph"> Ethel's Faces </span>make your next event <strong>Amazing!</strong></p>
        <a class="slider-btn" href="#gallery"><i class="fa fa-picture-o" aria-hidden="true"></i> view more faces</a>
      </div>
    </div>
    <div class="slider-container col-md-5">
        <div class='slider'>
          <div class='slide1'></div>
          <div class='slide2'></div>
          <div class='slide3'></div>
        </div>
    </div> <!--slide show-->
    <div class="col-md-1"></div>
  </div>
  <div class="tracker-row main-row row">
    <div class="col-sm-3">
      <h1>243+</h1>
      <p>happy faces</p>
    </div>
    <div class="col-sm-3">
      <h1>59+</h1>
      <p>super heros</p>
    </div>
    <div class="col-sm-3">
      <h1>26+</h1>
      <p>events made special</p>
    </div>
    <div class="col-sm-3">
      <h1>106+</h1>
      <p>princesses</p>
    </div>
  </div>
  <div class="about-row main-row row">
    <a name="about"></a>
    <div class="header-container container-fluid">
      <h1 class="header">Meet Ethel</h1>
      <h3 class="snowflake">professional face painter</h3>
    </div> <!-- meet ethel header  -->
    <div class="about-container container-fluid">
      <div class="col-md-3">
        <img class="about-img" src="https://lh3.googleusercontent.com/RlbaEaXhWE1TsT62DPHtZBD0BPi2GE91aC2Wy1Rwz5qrVV6rRB0lBqLL8XGyivXXsaD0FbUZ8VFUcwjYTYx__BJUZ8yzCjDZD_lx6UJHG1lJmpt2ev4Z6dcvc57RtXOOlEKv_V-V7SBi6_cS5GKWBeHJRL5kbbWs0KVP7NI4q-EyiAQgb60chwAVmpp9dOdSMVEAM1MJYz9aJ382X7qKuS_zo2u0NJRsm-c_bbX15QugGyX5M52sval8YIkxC-1qNxxF2DAFk69VwQvVRoP7wixukGeDbS4Odn4WDujXFdSS_ijXZn6Nvxiwo6JBmrAiSnVEMHNIKEZZNX3jBCM3SdybmmOZQuavnTH9C9rGwPFhdMh_sA-78g_hTKjDlI7Jn3SQ4a0sbEMAyK1OqiJVJRoqeyOP8X2mNo3txkAWtWtUUFgvi5K7GVrtliRfhKCtULS7zzO0A5ITeVpTfeXaQTdjglGuBKNwaIhTPTECKLFmklIARjsmyooRgEbd0E6qR1xUinn1IkxzpIAwUm-XEnHAPnrOn2iq_MbP6V9apc3Xihp-8r-XH9rfUSPIrJYxQl_2BQI-meTYgbQpsETUq6C01s1pdpL-9S7tc1cXnJ1MgrEdcTFE=s640-no" class="img-responsive" alt="Responsive image"></img>
      </div>
      <div class="about-txt-container col-md-3">
        <p class="heart">It's personal <i class="fa fa-address-card" aria-hidden="true"></i></p>
        <p class="sm-txt-lite">Like most small businesses; Ethel is the CEO, manager, and customer service rep for Ethel's Faces.
          So needless to say, <span class="emph">it's personal.</span></p>
        <p class="sm-txt-lite">For you, that means you'll get the best of the best all around because Ethel is 100% invested.</p>
      </div>
      <div class="about-txt-container col-md-3">
        <p class="handshake">Always fair <i class="fa fa-usd" aria-hidden="true"></i></p>
        <p class="sm-txt-lite">Ethel strives to keep costs low and 
          <span class="emph">fair.</span> So you can make your party special without breaking the bank.</p>
        <p class="sm-txt-lite">As a mother of 3, Ethel knows the struggles and price tag that comes with planning a party</p>
      </div>
      <div class="about-btn-container col-md-3">
        <a class="about-btn" href="#contact"><i class="fa fa-paper-plane" aria-hidden="true"></i> Contact Ethel</a>
      </div>
    </div>
  </div>
  <div class="pricing-row main-row row">
    <a name="price"></a>
    <div class="header-container container-fluid">
      <h1 class="header">Pricing</h1>
      <h3 class="snowflake">simple and easy paying options</h3>
    </div> <!--pricing header  -->
    <div class="pricing-container container-fluid">
      <div class="pricing-list-container col-sm-4">
        <ul class="pricing-ul">
          <li class="handshake pricing-list pricing-option">Option:1</li>
          <li class="pricing-list">1 Hour</li>
          <li class="pricing-list">$150</li>
        </ul>
      </div>
      <div class="pricing-list-container col-sm-4">
        <ul class="pricing-ul">
          <li class="heart pricing-list pricing-option">Option:2</li>
          <li class="pricing-list">2 Hours</li>
          <li class="pricing-list">$225</li>
          <li class="pricing-list sm-txt-lite">*avg 6 faces per hr</li>
        </ul>
      </div>
      <div class="pricing-list-container col-sm-4">
        <ul class="pricing-ul">
          <li class="tachometer pricing-list pricing-option">Option:3</li>
          <li class="pricing-list">Custom</li>
          <li class="pricing-list">
            <a href="#contact"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Contact Directly</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="gallery-row main-row row">
    <a name="gallery"></a>
    <div class="header-container container-fluid">
      <h1 class="header">Face Gallery</h1>
      <h3 class="snowflake">a few happy faces</h3>
    </div> <!--gallery header  -->
    <div class="row thumbnail-row">
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/KPaf-3VB7A2wG_cZbLSsiCa-hWf_Htn2AGiaV9pMWnU_dE73tYYxHpBOZrhvad7Vf1yqAdTikbxwLfaemb5YE2uyWDO_J4LViPAWrpspELI1WNj92Dgngs0F6Z6JsN9sp2Qk0gipX_Et_4unCeIbWsjZyYRym72pWMs7mz5tJr2Ct48Z6w2JzAdgkOe6jj-q3qhpsSgPUrT58cHtBdLKvnVWNl_h653PDLehzsRICOk6YSdNG9ZJpw3NFClnNQLiLQ2YwrrJsUg-BkEJ7hkRhQXjUFxJ4qDNyOU4G_5UlrpCC0kuLE1Flt83aUnDs8L-WEoEV0iswB7CRIcMgaIFm7gGzFIauhmHTdum3NLQNvIE0xbn2r-fpUy7PjgEudPgWWi76er5SRpS8QTl7mqvZ7NtD1B9TwsL-EMm_B6LH8KYVK4za_tA2woV8HxRFv__s2SotTz2fMcQcTeRLrXeMbnlpUssf8cSQnqga4sVdTs7ZwyD2O71o1L0NFHgZJhpkbMrbOpCiS3HOW-xI78OvzNqvyQ_PDg3xI2AL2nhtfb1RX8rb8pUwmuPBoLqpRQJkXF74I3VW8EUwtDmt7_D0ewaB_wTdtqv3Zgt3e02DYAFgFEN8TTH=w1208-h808-no" class="img-responsive" alt="Responsive image"></img>
      </div>
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/a3BJI6Yfrt8O7KufEpwOJb6iAqBxi7x90eU_ELX3D9DKcA4I4bSdpqoMfDBG-2jOPv6pg80JEOHQu01MzYUqo2cm5s9xuPhx_Ju9iRWOo0LsCeUBtBvyStcAD7f-YQbciuNAdIR3v5uzlW0njoOFaTb4AXtgp_U6LKhd28Okyt2bw9CThiPBQ3DndDM5E4sUpB8xydLu-15ep1fGz41brL2aC6a7PzPrqwsQZuh8qEA51aDbShZQtARQiSNBJdzL-2kUIXIeoEVYVOX6M6bHCvyQMDSiAiPn8hTUkcV2GzMMOXailpCzpq8vX-PqY8CrhewIId39Zza72X2E9icylTCkpZScU_vvwt5kKhqh_WDeucwiwDjDcaB8qUC4s7PSyZcC_491Oqi5RyqKvHzThUN2H_5WSQziIOA1DBzZdXPN1i0xNXMEmmOQOISjnhwZTKE2jWr-Qvh7yBtAJr4f8PD19rscbVqeX45u9wiNYdza-f_mcW8O89wFA87_WlLlc__ZRg90ybV7tzJeRak_f7iVrQqXeJJd_uyafuYCJmfQkcD4M6B0pB_OpaxqS7KREvySMdFsPIxqMbkIRJPZ4YguOsOHdJa3pqkhoZ2QV1jqkvHLsnVr=w1213-h808-no" class="img-responsive" alt="Responsive image"></img>
      </div>
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/PjdMek5Sry3nYpDQufm51NgnmFFgQyC-mNGUBquDPddDnTHfufzQbsuawUrL-cedM_4DYx3k3TLuSC_oq0Uvcn32HKGwTVXvPLSXX0lqjhMkgwLlbdQq6JfMW_4bLOto9ujJd1B4QJsJuehRXxmfWp-6wI6k0m7anBJJfXt8Dmj3deD7wFOEPzc2nOhqNhNYKqzD8T2oM7eVRRmnY1M1nRKQqC7cOeRhwr5Wai3QIlfxxrfJpU-rzDHsCNoVJAE0-6xYsD5HREE8neTz2sI0dQAkJLR5s5qJlRLDHuqg-tj4IxfSGdrcCChi5QifSwFgYjpTMleunEJ5--2Dw7X8HOiY7u1EiwZzMdVKraPoRNLA8SobZa88ghNiNgEtBRpRZj9nCgkQXzoWeBt8-bgOIWHPQKEfq-h3ReuxVbmsc3jD8eUifZWBuVJjOJfI0DZLGLYl0jRCLSc0StLwhhEBYiFTYSxuMhmvWFjOVQU1zdLHc6Dyi6ep0CV58pjti6XzqZl5NZpoF8EmYzYi_sIDqAOYm-YZ9_LP_nO8bAPrWCYda9dxFLv5xLhW__tVRG0VC8tfScw-QbquFeykXAtL7sXyBHkyiAHrRJS3KALjPCy95_J1Z2Ot=w960-h641-no" class="img-responsive" alt="Responsive image"></img>
      </div>
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/iC1WGhQ2BeLodFmC-X5CFuj3od8A2cUqf1UMJVt4tNwEzdLSgQy6uVhomfcB_lP_NmvqZwmNElsSBiplBwisvDWsUueokWRXi3wc8Xr4jCRGpsO9MxhxPLLa0acR0ad0xfDwUwhApIDO6zBf_aW9Ero94kfOsNS94tHyIu5hkRTwiJZgXoqWhRGwMTeIGaB2zTyuJQBPQ4cNDNR0Nt67QGKMulNItZIv_FTZfuQ_BDyBxcjVzbBkb8vWi5eeb77_-_TvWVSLumdL4wntbg5Dc44-hDZmrV5MnmH4F3c1GxAKcPw6Lt0lf-hbd2YMqrHkNLVCsh-3_yMjwGb__aWMIJ9vIvxC1GSSoCuzVFiuaR3hufwWhyVkWu7hjTbSOfjfL_zZhhyiAxe_9f6R6oFK5F34uYu2Ob7fawl73bGHjVjeHTCrSsv19FRarW50G3FQi-COHjWjbjH43f3wfdbaSmcRZqxWp7IMdtcjbqEm4_zN0SYfET9x84f0BNfzQmS-QOQEzAxnWntD6ISfdFq0xvj56pqleSNJZmsY6oGZvaFHSohcyD_O-EyNi0PLE4vdenDs9puXM9_7UrEe9tiJAys8dVRRCyvtHlep6Fosy3D5dhnKJzub=w960-h643-no" class="img-responsive" alt="Responsive image"></img>
      </div>
    </div> <!--thumbnail row 1-->
    <div class="row thumbnail-row">
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/Iu61XCUoeQnrUsixpk92MYseKtyL1772K0UIORFqGTv6_WM4Pf6NSfpzjrBrz5LnvF8WG-jJmQjvNQ7RJZoHTiYpzZ_LO3LCvQibb2ePzLOf6A2rZwI1d6heluMK-8xFetpTqAFBU8r5jpVUnzbwllYTt4vgZ1F9EyG2hPR2kUp7W8ANhAOHLA6vC4BeBBh_bJ0Va8GBPMCnYmmMPZ0kLRVOmEvXydTZmefAM0yB1sQcy_S4Y2o87lAek9qhkJ09LmTM9bGpQ6ACYBSXfFIMDWr8Q-etcImWEhGVQSNbzzBZBC60fgu6N5gp39QAWazTvMRXSEcDIpwLq0xepbTLIPLb8Zoych-s6bWvL4E4ULGIWYbeJmO19ZMrogSg1EDne284iT87WXZevi5CUciFAOq8zontng5VTdGj50Fc4PdpYiy6jzyCxYCBGM-md37AW0_tkJ4D8o-pAmcpP3YiqoPnRlA1p_pH-KIkUm1UrKTBUgBcFniC-s97IeoNt9db_D8z-XCo9DTg0sNHV4Dxjb6xE3KFuDn-s_0pSozCRT6dhvJtyyu_PPWYaH13jPtiagwafJBqrH-M-1YS780DpJMH54sZ8TT5zAy1ZSO9LRKRGSzg_W9G=w1476-h989-no" class="img-responsive" alt="Responsive image"></img>
      </div>
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/ODLGZ5EmK4vrSfQoO89pwb8Ulwllcn8oOoNIXvjWpsPznTxihuuvlezINU6BwOuujeXu9XLjgAPFdd0al7y7UNPG9uqRXzZMApjrU3MopR32blQfWKXOGJ6HTumHuWWbAceqJfglcFXVQkhF0VYk0fnk9qHdq_EyV5XM2xRSaWbVvb90XOLBFHRnBM0Z5FXI2Kg_BDIfIs028xxeyzk2iEPR0neIhLlbwfyZACazaxZxveGW0BV2WbjLgu5FJh-zc-G-WcLAmDDMm9D6X-4ooUwMs9CL4gW3fY2Q-05KRtS20lo-ZSBUssgfNQhAGDgBuOaVXkJg36KRcfjGhhqTskpF_LEndKXkVyk6DmJ_Lhnn_RYr73HN29FtULLsk9xzuMFcvz7DLyYEcFZs-uSQgTZpOQJArtwGvdskN3oIwYoGMC0jpyRvshdnl7Qzi3DAkS1e6gpDzl5LuelUPKV9KbCsyXL5_vX7NaPnP1I1WiaxHMb0oqjZzcgdzj2kSJpHaAkHCA9fVDmRvMVze90zEs7CiPIR8JqAPBixYmXnlWXsxeY2nyoWonCeE5lnd9kpiPMsyjoS1egUCX3lLNS_uih1uZwPx6Fl-hybaG2tLxSj0ebMoRPv=w960-h637-no" class="img-responsive" alt="Responsive image"></img>
      </div>
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/7pxdaAQ_PChREadzZOonlGSizdD6w9s0VvC07T2vrO5p1BdVxGTrtBnK_LzQIPbiYMunIm5hxq8M99uLi2QcuT5RNNw3owSaM_fyMtvIXl14noM05_gdIXNl4iKLU1NBkQNrGKCugW2udCmKukAFMtxn_Ee5M0vuqKJqU_SukT9r2BbIG5kOnS9CguNq6y7bChxK0-oR9Y7LfIylDHeIi8lF24_P2-uNhjWHDsJim0oGmhDvlK6vRN2TXAmp2DLA8ZnG2XV2YF4-n-QUshTvv67wQTAUMGh52JZ1gZcLn4oUIn_N3At8QdoI2a6J6mY_ONMd8tap0IxDvuOz0Grww-JHbbXgCv6TlBwxk6AV2oAHdmah12GT9UjwEqhbwYrfM3IpIf_ika9_aNtHvZcRxaNce8swuW3J9H5Oi5qHpEJB9KgxjIiZJVVyS6WSk2jwOvvxhEtiq7dCZxwX02t74C-tvvHz4wudBeGT4BqUYRCj7esZe0e7jtIX5Mrgr_lErVr9G50L9t4iMhAVIIaitV9E7Db4v0Q0tpXXhzFBYpw_PmtvUJIrvG4rzY0QpSwushEsHxIls5Fmf1HjgzmfoAbwU_qODXrf577fnJ9q9cY-xMhg=w1476-h989-no" class="img-responsive" alt="Responsive image"></img>
      </div>
      <div class="col-xs-3 thumbnail">
        <img src="https://lh3.googleusercontent.com/zz0sTyHSgRSl0g1D2WgByvuAYLxqfaCcIZfAKYa2BbjnhI3R16cLdqyXgT97hZvQ1JfP5u28zevhJjmXpsyFkyEHa_mCCCPeyV2nvQUVL5LPowIaI0OJXihVQW3gkcaXQmR8VPT3MJsY1O5trjpOil8vFdUvnry_gmwE9KTqweW96NW3DFaTqyfJUbd-qDMMKT9V6ldFnR2hT8a30WGF-bm0JRkKODlEhbOR2QpNu5djvPANtDsBeqrix8MUqtmYM_XYJz8JqOengAuMnqe4G7P7L4GtLAZGHHznaDdLkNf2118r1EEoriXtQd3sFtpRlrqddt-K56TLpMqr8EoOlN4A7U800Ia0lwZ-pGg_UKAQxHxVGMD_l2iJfGnwfEX5YQgS4096pBaRnf877iMKnLIKIOzfwDMd5yHGUcPhNYdJ3964VUXG7XLlzsFQo_BoF4Rdk3oQLOkZqWrrdvDbnUF0f8YV2gH6GiBMcLbSko_QBugi3N1XgwKf8AgB6hhhTfIwK3WWUdhGreptzaWqmD-7ntw9RHPv_3uqO7iz1MHDjAP1IQcv7FG20PxKYz9C_jdtPTEMfHp4sqvHlPJ5Q7BsNCUTnc2-xIPjdDelvYW2K7W34jk4=w1213-h808-no" class="img-responsive" alt="Responsive image"></img>
      </div>
    </div> <!--thumbnail row 2-->
  </div>
  <div class="contact-row main-row row">
    <a name="contact"></a>
    <div class="header-container container-fluid">
      <h1 class="header">Contact</h1>
      <h3 class="snowflake">speak with Ethel directly about your event</h3>
    </div>
    <div class="contact-container container-fluid">
      <div class="contact-info col-md-4">
        <p class="xl-txt-lite">Easy Booking</p>
        <p class="md-txt">there's only <strong class="tachometer">1</strong> step.</p>
      </div>
      <div class="contact-info col-md-4">
        <p class="xl-txt">It's like Magic <i class="fa fa-magic" aria-hidden="true"></i></p>
        <p class="md-txt">enter your info and start working with Ethel immediately</p>
        <p class="sm-txt-lite">you will never receive spam from Ethel's Faces.</p>
      </div>
      <div class="col-md-4">
        <form class="contact-form" action="/exit" method="POST">
          <div class="form-booking">
            <label class="form-label" for="firstName">Name</label>
            <input type="text" id="firstName" class="form-control" name="firstName" placeholder="name">
          </div> <!-- Name-->
          <div class="form-booking">
            <label class="form-label" for="emailAddress">Email</label>
            <input id="emailAddress" type="email" class="form-control" name="emailAddress" placeholder="email">
          </div> <!--Email-->
          <div>
            <button class="form-btn form-control" type="submit">Book <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer-container container-fluid">
  <div class="text-center">
    <ul class="list-unstyled">
      <li><a href="#top">Top <i class="fa fa-arrow-up" aria-hidden="true"></i></a></li>
      <li>
        <div>
          <a href="https://www.facebook.com/ethelsfaces/"class="bottom-links"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
          <a href=""class="bottom-links"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/ethelsfaces/"class="bottom-links"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        </div>
      </li>
      <li class="foot-info"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, MD. </li>
      <li class="foot-info"><i class="fa fa-calendar" aria-hidden="true"></i> Fri. Sat. Sun.</li>
      <li class="da-plug">Powered by: <a href="/admin">WebDevJosh</a></li>
    </ul>
  </div>
</div>
<script src="js.js"></script>
</body>
</html>
