<% include ../partials/landingHeader %>

<!--<div id="sidebar" class="container">-->
<!--  <div id="sidebar-header-container">-->
<!--    <h1>Ethel's Faces</h1>-->
<!--    <p class="sidebar-text">Something no so important.</p>-->
<!--  </div>-->
<!--  <div class="ul-container">-->
<!--    <ul class="sidebar-ul">-->
<!--      <li><a class="sidebar-link sidebar-page-links" href="/home">Home</a></li>-->
<!--      <li><a class="sidebar-link sidebar-page-links" href="/booking">Book</a></li>-->
<!--      <li><a class="sidebar-link sidebar-page-links" href="/about">Contact</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="ul-container">-->
<!--    <ul class="sidebar-ul">-->
<!--      <li><a class="sidebar-link sidebar-social-links" href="/home"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>-->
<!--      <li><a class="sidebar-link sidebar-social-links" href="/home"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>-->
<!--      <li><a class="sidebar-link sidebar-social-links" href="/home"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>-->
<!--      <li><a class="sidebar-link sidebar-social-links" href="/home"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
<!--    </ul>  -->
<!--  </div>-->
<!--  <div id="hero-burger">-->
<!--    <span class="burger-bars"></span>-->
<!--    <span class="burger-bars"></span>-->
<!--    <span class="burger-bars"></span>-->
<!--   </div>-->
<!--  <div class="sidebar-text">-->
<!--    <p>Something no so important.</p>-->
<!--  </div>-->
<!--</div>-->
<div class="hero-image">
  <a id="hero-plug" href="#">web dev josh</a>
  <div class="hero-text container-fluid">
    <h1 id="hero-name">I'm Ethel Arjona.</h1>
    <hr class="white-hr"></hr>
    <p class="hero-subtext">And I'm a Face Painter</p>
    <div class="hero-btn-div">
      <a href="/home" class="hero-btn">Hire Me</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="container">
    <h1 class="about-header">Ethel's Faces <i class="fa fa-paint-brush" aria-hidden="true"></i></h1>
    <hr class="black-hr"></hr>
  </div>
  <div class="about-container container-fluid">
    <div class="about-row row1 row">
      <div class="pic-container1 col-md-4">
        <div class="pic1 about-pics"></div>
      </div>
      <div class="info-container col-md-8">
        <p>I'll work with you<span class="pop-text"> one on one </span>to give the absolute best possible service.</p>
      </div>
    </div>
    <div class="about-row row2 row">
      <div class="info-container col-md-8">
        <hr class="black-hr"></hr>
        <p>The idea behind Ethel's Faces was to combine my<span class="pop-text"> passion </span> for art with my<span class="pop-text"> love </span>for bring joy to others.</p>
      </div>
      <div class="pic-container2 col-md-4">
        <div class="pic2 about-pics"></div>
      </div>
    </div>
    <div class="about-row row3 row">
      <div class="pic-container3 col-md-3">
        <ul>
          <li class="row3-li"><a href="/booking" class="row3-links">book today</a></li>
          <li class="row3-li"><a href="/about" class="row3-links">contact ethel</a></li>
          <li class="row3-li"><a href="/gallery" class="row3-links">photo gallery</a></li>
        </ul>
      </div>
      <div class="info-container col-md-9">
        <p>Check out my site,<span class="pop-text"> Ethel's Faces </span>was made to make booking a face painter<span class="pop-text"> simple and easy.</span></p>
      </div>
    </div>
    <div class="container">
      <hr class="black-hr"></hr>
      <div id="link-div">
        <a href="https://www.facebook.com/ethelsfaces/"class="bottom-links"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
        <a href=""class="bottom-links"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/ethelsfaces/"class="bottom-links"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
      </div> 
    </div>
  </div>
</div>

<% include ../partials/footer %>
