<% include ../partials/header %>

<div class="hero-image">
  <div class="hero-text">
    <h1>I'm Ethel Arjona</h1>
    <hr></hr>
    <p>And I'm a Face Painter</p>
    <a href="/home" class="btn btn-success btn-lg">Hire Me</a>
  </div>
</div>  
  
<% include ../partials/footer %>
