.booking-header-container{
 padding:130px 0px 30px 0px; 
 background-color:#1F8A70;
}
.test {
  font-size: 25px;
  margin: 25px 8px;
}
.header {
  padding-left: 15px;
}
#booking-container {
  padding:0;
}
#subheader {
  font-size: 20px;
}
#zipcode {
  width: 30%;
}
#form-pic {
  height: 300px;
  background: url("https://mail.google.com/mail/u/1/?ui=2&ik=1bc3e1a47f&view=fimg&th=15b7b95473831fe8&attid=0.1.1&disp=emb&attbid=ANGjdJ8zdRH56IMJQ6vckue8JS3vwYy6wLxY1TeY3BHbnUJqDfBA9zCwiKON7cKpNryGL21uLy-TJ5oGgZZoQGRUBBCboj5EOGOf64mfp-yNNy80GjhL993j5NsJcdI&sz=w908-h608&ats=1492477959561&rm=15b7b95473831fe8&zw&atsh=1")no-repeat center;
  background-size: cover;
}
.form-booking{
  font-size:40%;
  padding: 10px;
}
