

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 58px;
}
h3 {
    font-family: 'Raleway', sans-serif;
}

a {
    font-size: 25px;
    padding-left: 5%;
}
li {
    list-style-type: none;
}
/******#####Classes####******/
.jumbotron {
    margin-top: 10%;
    background-color: lightblue;
}
.btn {
    background-color: rgb(140, 217, 140);
    border:none;
    color:rgb(77, 77, 77);
}

.p1 {
    background-color: #ff99ff;
    border-radius: 20px;
}
.dividers{
    height: 1px;
    border: none;
    background-color: gray;
}

