/*General Body Stuff*/
body {
    background-color: #f6f6f6;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
}
li{
    list-style: none;
}
a{
    cursor: pointer;
}
a:hover{
     color: #ffb924;
     text-decoration: none;
}
.white-hr{
    border: 0; 
    height: 1px; 
    width: 75%;
    background-color: #ffffff;
}
.white-hr-full{
    border: 0; 
    height: 1px;
    background-color: #ffffff;
}
.black-hr{
    font-size:0px;
	border-top: 4px double #8c8b8b;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.black-hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #ffffff;
	color: #8c8b8b;
	font-size: 18px;
}
.pop-text{
    font-size: 145%;
    font-family: 'Righteous', cursive;
    color:#ffb924;
}
.pop-text2{
    font-size: 145%;
    font-family: 'Righteous', cursive;
    color:#336f3b;
}
/*Footer Stuff*/
.footer-container {
    color: #ffffff;
    margin-top: 200px;
    padding:75px 20px; 
    font-size: 55%;
    position: relative;
    bottom: 0;
    background-color: #1F8A70;
}
.footer-container li {
    margin:20px;
}
.footer-container a{
    color: #ffffff;
}

/*##Navbar Stuff##*/
.navbar-default {
    font-size: 40%;
    background-color: #f6f6f6;
}
.navbar-right-li {
    padding-right: 25px;
}
.navbar-brand {
    font-size: 110%;
    padding: 12px 15px;
}
.navbar-link a{
    color:#404040;
}
#nav ul li:hover a{ 
     background-color: #e6e6e6;
     color: #ffb924;
}
