body {
    background-color: rgb(230, 255, 255);
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
}

/*##Navbar Stuff##*/
.navbar-default {
    font-size: 55%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    background-color: rgb(140, 217, 140);
    border-bottom: solid #66ccff 1px;
}
.navbar-right {
    padding-right: 1%;
}
.navbar-brand {
    font-size: 80%;
}
.fa-superpowers{
    font-size: 85%;
}
#nav ul li:hover a{ 
     background-color: rgb(255, 230, 255);
}
.navBtn {
    padding-bottom: 17%;
}