/*General CSS*/

body,
html {
    height: 100%;
}

li {
    list-style: none;
}

a {
    color: #0F5358;
    cursor: pointer;
}

a:hover {
    color: #1F8A70;
    text-decoration: none;
}

.white-hr {
    border: 0;
    height: 1px;
    width: 75%;
    background-color: #ffffff;
}

.black-hr {
    font-size: 0px;
    border-top: 4px double #8c8b8b;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.black-hr:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #ffffff;
    color: #8c8b8b;
    font-size: 18px;
}

.xl-txt {
    font-size: 150%;
    font-family: 'Paytone One', sans-serif;
    color: #B7C931;
}

.xl-txt-lite {
    font-size: 150%;
    font-family: 'Paytone One', sans-serif;
    color: #FD8366;
}

.bg-txt {
    font-size: 75%;
}

.md-txt {
    font-size: 75%;
    color: #0F5358;
}

.sm-txt {
    font-size: 50%;
    color: #0F5358;
}

.sm-txt-lite {
    font-family: 'Comfortaa', cursive;
    font-size: 50%;
    color: #1F8A70;
}

.header-container {
    margin: 0px;
    padding: 50px 0px;
    text-align: center;
    color: #0F5358;
}

.header {
    font-family: 'Righteous', cursive;
    font-size: 300%;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.main-row {
    padding-bottom: 75px;
}


/*Navbar CSS*/

.navbar {
    font-size: 115%;
    font-family: 'Comfortaa', cursive;
}

#navbar-logo {
    padding-left: 2%;
    color: #0F5358;
}

.navbar-right {
    padding-right: 2%;
}

.navbar-default .navbar-nav .navbar-link {
    color: #0F5358;
    padding: 15px 10px;
}

.navbar-default .navbar-nav .navbar-link:hover {
    color: #FFB924;
}


/*Hero Image plus Text*/

.hero-image {
    background-image: url("./images/hero-landscape.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}

#hero-name {
    margin: 5% 0px 0px 52%;
    text-align: left;
    font-size: 300%;
    color: #ffffff;
    font-family: 'Courgette', cursive;
}

.hero-subtext {
    font-family: 'Paytone One', sans-serif;
    font-size: 450%;
    text-align: left;
    color: #FFB924;
    margin-left: 52%;
}

.hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-btn-div {
    text-align: left;
    margin: 2% 0px 0px 52%;
}

.hero-btn {
    font-family: 'Comfortaa', cursive;
    background-color: #c8d1c7;
    padding: 12px 35px;
    color: #404040;
    ;
}

.hero-sox-container {
    margin-left: 92%;
}

.hero-sox {
    color: #ffffff;
    padding: 3px;
}

.hero-sox:hover {
    color: #0F5358;
}


/*###About me Section###*/

.info-row {
    padding: 5% 0px 8% 0px;
    color: #0F5358;
}

.info-container {
    font-size: 300%;
    text-align: center;
}

.handshake {
    color: #FFB924;
}

.snowflake {
    color: #1F8A70;
}

.heart {
    color: #FD8366;
}

.tachometer {
    color: #B7C931;
}


/*Slide show below*/

.slider-row {
    background-color: #f2f2f2;
}

.slider-container {
    padding: 50px 0px;
}

.slider-txt-container {
    margin: 18% 0px 0px 3%;
    font-family: 'Righteous', cursive;
    font-size: 450%;
    color: #0F5358;
}

.emph {
    color: #0F5358;
}

.slider-btn {
    font-size: 33%;
    background-color: #FD8366;
    color: #0F5358;
    padding: 15px 10px;
}

.slider {
    height: 550px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.slide1,
.slide2,
.slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slide1 {
    background: url("./images/mean.jpg")no-repeat center;
    background-size: cover;
    animation: fade 20s infinite;
    -webkit-animation: fade 20s infinite;
    -moz-animation: fade 20s infinite;
    -ms-animation: fade 20s infinite;
    -o-animation: fade 20s infinite;
}

.slide2 {
    background: url("./images/fox-boy.jpg")no-repeat center;
    background-size: cover;
    animation: fade2 20s infinite;
    -webkit-animation: fade2 20s infinite;
    -moz-animation: fade2 20s infinite;
    -ms-animation: fade2 20s infinite;
    -o-animation: fade2 20s infinite;
}

.slide3 {
    background: url("./images/btfly.jpg")no-repeat center;
    background-size: cover;
    animation: fade3 20s infinite;
    -webkit-animation: fade3 20s infinite;
    -moz-animation: fade3 20s infinite;
    -ms-animation: fade3 20s infinite;
    -o-animation: fade3 20s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 1
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}


/*tracker row*/

.tracker-row {
    padding: 2% 0%;
    font-size: 200%;
    color: #f1f1f1;
    text-align: center;
    background-color: #1F8A70;
}


/*about row*/

.about-row {
    background-color: #ffffff;
    color: #0F5358;
    text-align: center;
}

.about-container {
    font-size: 200%;
}

.about-img {
    height: 350px;
    border-radius: 10px;
}

.about-txt-container {
    padding-top: 4%;
}

.about-btn-container {
    padding-top: 7%;
}

.about-btn {
    font-size: 75%;
    padding: 15px;
    background-color: #B7C931;
    font-family: 'Paytone One', sans-serif;
}


/*pricing row*/

.pricing-row {
    padding: 40px 0px;
    text-align: center;
    background-color: #f2f2f2;
}

.pricing-container {
    color: #0F5358;
    font-size: 200%;
}

.pricing-list-container {
    background-color: #f2f2f2;
}

.pricing-ul {
    padding: 0px 5px;
}

.pricing-list {
    padding: 10px;
}

.pricing-option {
    background-color: #1F8A70;
    border-radius: 10px;
    font-family: 'Paytone One', sans-serif;
}


/*gallery row*/

.thumbnail {
    border: none;
    padding: 10px;
    margin: 0px;
}

.gallery-img {}


/*contact row*/

.contact-container {
    padding-top: 45px;
}

.contact-row {
    background-color: #f2f2f2;
}

.contact-info {
    text-align: center;
    font-size: 200%;
}

.contact-form {
    border-left: solid #0F5358 1px;
    padding-left: 20px;
    margin: auto;
}


/*form style*/

.form-label {
    color: #0F5358;
    font-family: 'Righteous', cursive;
    font-size: 150%;
}

.form-booking {
    display: inline-block;
    padding-bottom: 25px;
    width: 35%;
}

.form-control {
    font-family: 'Courgette', cursive;
    color: #0F5358;
    font-size: 100%;
}

.form-btn {
    font-size: 125%;
    width: 71%;
    height: 100%;
    font-family: 'Paytone One', sans-serif;
    color: #ffffff;
    background-color: #0F5358;
}

.form-btn:hover {
    color: #0F5358;
    background-color: #ffffff;
}


/*Footer*/

.footer-container {
    color: #ffffff;
    margin-top: 10px;
    padding: 50px 20px;
    font-size: 200%;
    position: relative;
    bottom: 0;
    background-color: #0F5358;
}

.footer-container li {
    margin: 20px;
}

.footer-container a {
    color: #f2f2f2;
}

.footer-container a:hover {
    color: #1F8A70;
}

.foot-info {
    font-size: 75%;
}

.bottom-links {
    color: #404040;
    padding: 10px;
}

.da-plug {
    font-size: 75%;
}