/*#####Lander CSS######*/
body, html{
  height: 100%;
}
body{
    font-size: 35px;
    margin: 0px;
    padding: 0px;
    color: #404040;
}
li{
    list-style: none;
}
a{
    color: white;
    cursor: pointer;
}
a:hover{
     color: #ffb924;
     text-decoration: none;
}
.white-hr{
    border: 0; 
    height: 1px; 
    width: 75%;
    background-color: #ffffff;
}
.black-hr{
    font-size:0px;
	border-top: 4px double #8c8b8b;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.black-hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #ffffff;
	color: #8c8b8b;
	font-size: 18px;
}
.info-container .black-hr:after{
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #e6e6e6;
	color: #8c8b8b;
	font-size: 18px;    
}
.pop-text{
    font-size: 145%;
    font-family: 'Righteous', cursive;
    color:#ffb924;
}
.pop-text2{
    font-size: 145%;
    font-family: 'Righteous', cursive;
    color:#336f3b;
}
#hero-plug {
    margin-left: 15px;
    font-size: 35%;
    color: #ffffff;
}
/*^^General^^style^^*/
/*Title image, text and btn */
/*Image*/
.hero-image {
    background-image: url("https://lh3.googleusercontent.com/cj_vA0cUk7gcT3nTwAlhwKwZnKZ_e0SBxpaXdjWPULiDmYfex4H9cZTAqibQynk4wEJZPK-Njmt0X0HruN3pLah_Pp50WeKebBOQe8qTNjCLXv0tLPYJhJxO1fvdqGVA-LNCB5crKgYn6XiWFONb8MWnPyVcBLedgDWk2txBZe2PScNIHeLUl-0Xa5BCNltpIKABLku4yfjsIMmNEsSCQ9hqcrdT76IMSs9bPFooXuSMF3Zi3aXU9Px0vapKTbEpxaIvfiCwaY5VcO45Hg_CfxAb4aMrZuoHn9cDUUhtp4gbXeoqHrkRUxCyQ_T56gYKZSj3PaGZp65lDdFda0tkOP4rXL0yEQQ0vXtUCnUzbY0BfFBqYpph2oGFYaEDPmkRTW3-r9x8i7-bdzrhjPEYyEj274TqFmdfV-ahpBKFVJNPQoGui3wdSXKbPMmkv3XGjrAdAQ4V8TR9erm5iVyvJotTQ8sde6NWWWto1O9PvJ1KO9JKRQAizSpqnzLNkgiyWjSxSwr6GlXTTeEn0RNNokGKwKZttp85J_AhqrUqoH6H97YzoU9luO6mXzl_Egqh70OxsfFfe_BMh7f6K5wKWDILd6J-yuFwTWhAUm3iKW0S0udNU4IZ=w1483-h989-no");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}
/*Hero text*/
#hero-name {
    margin-left: 10%;
    text-align: left;
    font-size: 135%;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
}
.hero-subtext {
    font-family: 'Rammetto One', cursive;
    font-size: 200%;
    text-align: center;
    color: #ffb924;
}
.hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-color: black;
}
/*Hero Button*/
.hero-btn-div {
    text-align: center;
    margin-top: 40px;
}
.hero-btn {
    font-family: 'Rammetto One', cursive;
    background-color: #ffffff;
    padding: 13px;
    color: #404040;;
}
/*###About me section###*/
.about-container{
    font-family:'Courgette', cursive;
    font-size: 25px;
}
.about-header{
    font-family: 'Rammetto One', cursive;
    font-size: 200%;
    margin-top: 85px;
}
.row1, .row3{
    background-color: #ffffff;
}
.row2{
    background-color: #e6e6e6;
}
.about-pics{
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.pic1{
    background: url("https://lh3.googleusercontent.com/2AzkoFUhLEL1CaNA0g9h1kjwEzoC061-vSO3sBdPM7vs3QR0k62F82QxMfFcMz7dY6OYJkIn-Niet76GDpxPRWyyYALx5MzzNfnJoaqMrZiszvusdCSdoEL45z2JFFlLP2WINf2xU-Oft6CeQaXE7Fn2UWYX73zvmGnzvmVJjxj_y-C0Qxw7gHrB3iSz-uMNk8BMTQ76Z9HitcNEb_ShK13qveLjV5WkZb-5WuTnF36ykdjlmhpA8nn24gJ4t6Dy4q8qnxTo1XyFaaE3dS5pQ5AZcNZs2K7HylCw0JhOyBy3dtva8f3EwEOg4W9DdR_Jajq8oM4I29jYht4zFk7C9ah3U_pOJjM65O-wF3vXyQU2tkT9o_OCwx_ZO_3rTNz_bu9ShZdj0MTgELjyugEL5OiCi2wyX5xZgYkbPhwBpQXjuW4Xxyk7bxX9KQ3UTdykXLeiPODtaIOfFsOrsYJLDAxbKH1E-2vivExSqevJy8h42YE2Velcc6xtrvR_ZpZZFbL31GAqO1qXHeaMS2aRRMxmnQDsMuKR8ln5lYZaeO5f4wA_0IbOiF3bvLUS9TuDEaphjnbBKDm_OA0GBzr_TglqmD5D4eZE6ZPangKGlw12MdrUkmlA=s640-no")no-repeat center;
}
.pic2{
    background: url("https://lh3.googleusercontent.com/kRD4Z01C0U3UVLuA5bTPO_QhHoYhGZCbXXH72BQIWPF2PmRiO4NMc4fHHwlDJZuCRUZwMKBsCw0-LgSCDOml_8dMT3LH4-UdHqMMD079jBjQn_Z_L3bfvrX-I92jU0iLM4cqo7Rz-CieBQaiefYsG8uYYZFV-cVSBRM8ImUSjgFvWABIHVlytaHAPRyf-UkbMT1SyQVlNyv1KkZ5JM6IUzwHOr5GRQJzrmx7N3Q-ka9t6iSnOcAikIzPM-d_o37yqcJuEfIQM3noYJmIyE1VZSBFDuqCphUYwpWR_E9e-dTmRMd3Xlf8vUHDrhdPAWNcppjO3w3-JWxYmSARhDaaHyMjC89OASr0LDTCUg0i7JjzkVq_NUJrCL7NY84R-GzagOsMbbp_Ypsiiz9nBNYTEKfupbz7SbPiY9zCL_CRK_y1bDkYncFdXXaxyzFHXwaaxMNGc1dJGe1Cu0siNYbjzc_puXWXpU3RMMRwhQrkZfEP-3MEG8N2zPEpZY358ZA8V-Yr0wIulqZrDTmx71P_fONWdTPB6t_6uyrIK_0z3hDnXCjue7txy0tDSisJG01CTiBNupI8DN-NCuQbtz8GPo_ua-JfVWRgj2Nf2crXTmznlzkx1VGM=w720-h960-no")no-repeat center;
}
.info-container{
    padding: 4%;
    font-size: 150%;
}
.info-container p {
    line-height: 200%;
    padding:20px 0px;
    margin:auto;
}
.pic-container1{
    height: 400px;
    padding-right: 30px;
    padding-left: 0px;
}
.pic-container2{
    height: 500px;
    padding-right: 0px;
    padding-left: 30px;
}
.pic-container3{
    padding:40px 0px;
    margin: 50px 0px;
    text-align: center;
    font-size: 80%;
    background-color: #ffffff;
    border-right:solid #404040 1px;
}
.row3-li {
    margin:15px;
}
.row3-links{
    color:#404040;
}
#link-div{
    text-align: center;
}
.bottom-links{
    color:#404040;
    padding:10px;
}
/*Footer*/
.footer-container {
    color: #ffffff;
    margin-top: 200px;
    padding:75px 20px; 
    font-size: 55%;
    position: relative;
    bottom: 0;
    background-color: #336f3b;
}
.footer-container li {
    margin:20px;
}
