body, html {
  height: 100%;
}
/*###########*/
/*Title image, text and btn */
.hero-image {
    background-image: url("https://image.shutterstock.com/z/stock-photo-abstract-gradient-background-with-soft-color-tones-197799734.jpg");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.btn-success {
    width: 200px;
}
/*#############*/
.jumbotron {
    margin-top: 8%;
    margin-bottom: 10%;
    background-color: rgb(173, 230, 187);
    border: solid gray 1px;
}
.plugImage {
  padding-right: 20px;
}
.addSpace {
  font-size: 20px;
  height: 100px;
  width: 100px;
  border: solid black 1px;
}

/*#############*/
#fbButton { background-color:rgb(51, 112, 204);}
#twButton { background-color:rgb(29, 202, 255);}
#igButton { background: linear-gradient(to bottom left, #cc00ff 0%, #ffff00 100%);}
#ggButton { 
  background-color:rgb(211, 72, 54);
  
}

#plugHouse {
  font-size: 40%;
  padding: 0;
  margin-top: 100px;
}
.plugs {
  text-align: right;
  padding-bottom: 33px;
}
.button {
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 40px 0px 0px 40px;
}


/*#############*/
/*Slide show below*/

.slider {
  height: 550px;
  position: relative;
  border-radius:20px;
  background-position: center;
  background-size: cover;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius:20px;
}
.slide1 {
  background: url(https://mail.google.com/mail/u/0/?ui=2&ik=90522dcac2&view=fimg&th=15b5522cb2e14ab1&attid=0.1&disp=inline&realattid=ii_j1bchqe30_15b55227fa02505c&safe=1&attbid=ANGjdJ_SEoEYIFf7xrdPWpurCo3yGVuXSrT5gBPW7j0f4D7ddPat0QwyiPhNIvnCIvaj_PsRqasHbV7EvKIs9cds_KXHqFQI8B3GFCAQgRGpypKBHUfzPN4AfWr6Brk&ats=1492217616449&rm=15b5522cb2e14ab1&zw&sz=w1920-h988)no-repeat center;
      background-size: cover;
    animation:fade 20s infinite;
-webkit-animation:fade 20s infinite;

} 
.slide2 {
  background: url(https://mail.google.com/mail/u/0/?ui=2&ik=90522dcac2&view=fimg&th=15b5522cb2e14ab1&attid=0.3&disp=emb&realattid=ii_j1bchqf31_15b55227fa02505c&attbid=ANGjdJ--pn0Dx9Ym73rfv700B1EB2J9KI8MhUNhimYYNQDe-z8bkdrZhE9RFfnT5NWTBIZOIM6FsEGccMYf1MGqjHs3YHQYVN8rT2ZZZBabRmI6SbiX7KUTrMO-oAWw&sz=w944-h630&ats=1492217616442&rm=15b5522cb2e14ab1&zw&atsh=1)no-repeat center;
      background-size: cover;
    animation:fade2 20s infinite;
-webkit-animation:fade2 20s infinite;
}
.slide3 {
    background: url(https://mail.google.com/mail/u/0/?ui=2&ik=90522dcac2&view=fimg&th=15b5522cb2e14ab1&attid=0.2&disp=inline&realattid=ii_j1bchqfr2_15b55227fa02505c&safe=1&attbid=ANGjdJ8CvT1Ho9ReIn_-vdW-LxlaEIr1DcS4eHa1T0ysHZ1Z3NR-fU_tFl4qac2M5ZVLjCVmiNOHNbqc101VhA04T5MCBvcZuiqgDSF35SiYpt8xDRodz5CYzyTv1aY&ats=1492217616450&rm=15b5522cb2e14ab1&zw&sz=w1920-h988)no-repeat center;
      background-size: cover;
    animation:fade3 20s infinite;
-webkit-animation:fade3 20s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}